#header {
    background-color: #2C2C54;
    text-align: center;
    color: white;
    border-radius: 20px;
  }
  #body {
    background-color: #ECECEC;
    text-align: center;
    font-family:"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  #text{
    text-align:center;
    padding: 10px;
  }
  
  body{
    background-color: #AAABB8;
    padding:20px
  }
  #nav{
    text-align: center;
  }
  .navlink{
    color: white;
    padding: 10px;
    background-color: rgb(41, 58, 130);
    margin: 150px;
    border-radius: 10px;
  }
  #pfp{
    width: 150px
  }
  a{
    text-decoration: none;
  }
  .social{
    background-color: #d1d0d0;
    text-align: center;
    padding:15px;
  }