body {
  background-color: #ffffff;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
}

#nav {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 10px 7px 5px rgb(128, 176, 196);
}

.navlink {
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  border: solid #424245;
  border-radius: 5px;
}

#links{
  display: flex;
  justify-content: center;
}

#logo{
  padding: 10px;
  color: rgb(0, 0, 0);
  margin:10px;
}

#container {
background-color: #ffffff;
margin: 10px;

}
#header {
  background-color: #0066cc;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 10px;
}

#text {
  text-align: center;
  padding: 10px;
  background-color: #0066cc58;
  border-radius: 30px;
  margin: 10px;
  border: solid #0066cc 2px;
}

#pfp {
  margin:10px;
  width: 150px;
}
a {
  text-decoration: none;
  color: Blue;
}

.footer{
  position:fixed; /* smth to fix*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
}

