<!DOCTYPE html>
<!--
Author: Zeeshan Bombaywala
Date: Saturday Febuary 1
-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Assignment-1</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div id="main_container">
      <div id="header">
        <img id="img_h" src="images/decoration.jpg" />
      </div>
      <div id="header_txt">
        <a href="https://www.eng.mcmaster.ca/"><h3 id="tablet_hd">Super Fast Widgets</h3></a>
        <p id="mbl_p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <a href="https://www.eng.mcmaster.ca/">Web Link</a>
      </div>
    </div>
    <div id="sec_container">
      <div class="sub_container">
        <div class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <div>
            <a href="https://www.eng.mcmaster.ca/"><h3 id="tablet_hd">Super Fast Widgets</h3></a>
            <a href="https://www.eng.mcmaster.ca/">Web Link</a>
          </div>
        </div>
        <div class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <div>
            <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
            <a href="https://www.eng.mcmaster.ca/">Web Link</a>
          </div>
        </div>
        <div class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <div>
            <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
            <a href="https://www.eng.mcmaster.ca/">Web Link</a>
          </div>
        </div>
        <div class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <div>
            <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
            <a href="https://www.eng.mcmaster.ca/">Web Link</a>
          </div>
        </div>
      </div>
      <div class="sub_container">
        <div id="mobile" class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
          <a href="https://www.eng.mcmaster.ca/">Web Link</a>
        </div>
        <div id="mobile" class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
          <a href="https://www.eng.mcmaster.ca/">Web Link</a>
        </div>
        <div id="desk" class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
          <a href="https://www.eng.mcmaster.ca/">Web Link</a>
        </div>
        <div id="desk" class="sub_header">
          <img class="img" src="images/decoration.jpg" />
          <a href="https://www.eng.mcmaster.ca/"><h3>Super Fast Widgets</h3></a>
          <a href="https://www.eng.mcmaster.ca/">Web Link</a>
        </div>
      </div>
    </div>
  </body>
</html>
